header {
      background-color: #002928;

    .navbar-nav{
        gap: 29px;
    }
    .nav-link{
        font-size: 16px;
        font-weight: 500;
        color: #F8FAFC;
        padding-block: 5px;
        padding-inline: 0;
    }
    .navbar{
            padding-block: 18px;
    }
}