.work-with-us {
    background-color: rgba(0, 41, 40, 1);
    padding-block: 80px;

    h1 {
        font-size: 64px;
        line-height: 1;
        text-align: center;
        margin-bottom: 20px;

    }


    p {
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
        font-weight: 400;
        text-align: center;
        margin-bottom: 46px;

    }
}

.toolkit{
     background-color: rgba(0, 41, 40, 1);
    padding-block: 80px;
    h1{
            font-size: 64px;
    font-weight: 500;
    line-height: 1;
    color: #fff;

    margin-bottom: 20px;
    }
    span{
            font-size: 29px;
    font-weight: bold;
    margin-bottom: 27px;
    display: block;
    line-height: 1;

    }
ul{
        margin-left: 27px;
    margin-bottom: 20px;
    li{
            display: flex
;
    font-size: 20px;
    align-items: anchor-center;
    gap: 10px;
    margin-bottom: 8px;
    img{
            width: 40px;
    height: 40px;
    }
    }
}
p{
        font-size: 20px;

}
h6{
        font-size: 16px;
    color: #fff;
    position: relative;
    &::after{
               content: url(/assets/img/thick-underline.svg);
    bottom: -36px;
    left: -34px;
    position: absolute;
    height: 31px;
    transform: scale(0.75) !important;
    width: 217px;
    display: inline-block;
    }
}
}

.navbar-toggler svg {
    width: .875rem;
    height: .875rem;
    stroke: #ffffff;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.banner {
    background-color: rgba(0, 41, 40, 1);
    position: relative;
    padding-top: 80px;
    overflow: hidden;
    text-align: center;

    &:hover {
        &::before {
            bottom: 0px;
        }
    }

    &::before {
        position: absolute;
        background: url("../img/banner-gardiant.webp") no-repeat top center / cover;
        width: 100%;
        height: 300px;
        content: "";
        bottom: -50px;
        left: 0;
        z-index: 1;
        transition: all 0.3s;
    }

    h1 {
        font-size: 64px;
        font-weight: 500;
        line-height: 1;
        color: #fff;
        max-width: 1055px;
        margin: auto;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .theme-btn {
        font-size: 16px;
        line-height: 1;
        padding: 14.5px 18.5px 14.5px 18.5px;
        margin-bottom: 80px;
        display: block;
        width: fit-content;
        margin-inline: auto;
    }

    img {
        z-index: 2;
        position: relative;
    }
}

.podcast-props {
    padding-block: 112px;

    h2 {
        font-size: 48px;
        line-height: 1;
        font-weight: 500;
        color: #000;
        max-width: 690px;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }

    span {
        font-size: 26px;
        color: #1E1E1E;
        line-height: 1.2;
        display: inline-block;
    }

    .podcast-card {
        display: flex;
        gap: 13px;
        justify-content: center;
        align-items: center;

        img{
            min-width: 36px;
        }

    }
}


.reteirment {
    margin-inline: 48px;
    position: relative;
    padding-top: 103px;
    padding-bottom: 80px;
    background: rgb(246 250 243/1);
    border-radius: 24px;
    margin-bottom: 100px;

    &-content {
        text-align: center;
        max-width: 1184px;
        margin: auto;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 530px;
            background-image: linear-gradient(to bottom, rgba(5, 150, 105, 0.5), rgba(5, 150, 105, 0));
            top: 0;
            left: 0;
            border-top-left-radius: 24px;
            border-top-right-radius: 24px;
            pointer-events: none;
        }
    }

    .sec-badge {
        font-size: 14px;
        display: inline-block;
        color: #000;
        border: 1px solid #000;
        border-radius: 8px;
        line-height: 1.22;
        padding: 4px 8px;
        margin-bottom: 30px;
    }

    h3 {
        font-size: 72px;
        font-weight: 500;
        color: #000;
        line-height: 1;
        max-width: 956px;
        margin: auto;
        margin-bottom: 30px;
    }

    p {
        font-size: 20px;
        line-height: 1.4;
        font-weight: 400;
        color: #000;
        max-width: 1291px;
        margin: auto;
    }

    .btn-group {
        margin-top: 50px;
        gap: 20px;

        .theme-btn {
            font-size: 16px;
            line-height: 1;
            font-weight: 700;
            padding: 15px 30px 15px 30px;

            &.dark-btn {

                padding: 15px 40px 15px 40px;
            }
        }
    }

    .description {
        margin-bottom: 30px;
    }

    .retirement-row-content {
        max-width: 425px;
    }

    .cta {
        max-width: 80%;
        .cta-heading{
            color: #fff;
        }
    }
}



.retirement-row {
    padding-block: 100px;
}

.retirement-row .heading {
    font-size: 48px;
    color: #000;
    margin-bottom: 30px;
}
.retirement-row iframe{
    
    width: 100%;
    min-height: 515px;
    border-radius: 20px;

}

.toolkit-img {
    position: relative;

    &:before {
        content: "";
        width: 575px;
        height: 470px;
        background: url(../img/retirement-bg-gradient.webp) no-repeat center /contain;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    img {
        position: relative;
        z-index: 1;
    }
}


.cta {
    padding: 80px;
    text-align: center;
    border-radius: 80px;
    background-color: #002928;
    max-width: 1600px;
    margin: auto;


    &-heading {
        font-size: 50px;
        margin-bottom: 30px;
        color: #fff;
    }

    p {
        color: #fff;
    }

    .theme-btn {
        margin-top: 30px;
    }
}


footer {
    padding-inline: 48px;
    padding-block: 50px;
    background-color: #002928;

}


.copy-right,
.copy-right a {

    font-size: 16px;
    line-height: 1.4;
    color: #fff;
}

.nav-link:focus,
.nav-link:hover,
.nav-link.active {
    color: rgb(5 150 105);
}




.about {
    padding-block: 50px;

    h2 {
        font-size: 56px;
        font-weight: 500;
        color: #000;

    }

    h3 {
        font-size: 42px;
        color: #000;

        margin: 48px 0px 24px 0px;

        &.cta-heading{
            color: #fff;
        }
    }

    p {
        color: #6B7280;

    }

    ul {
        font-size: 16px;
        color: #6B7280;

        list-style: disc;
        padding-left: 40px;

        strong {
            font-weight: 500;
        }

        li {
            margin-bottom: 10px;
        }
    }
    img{
        border-radius: 40px;
    }
}


.workwithus-form {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .work-form {

        width: 1040px;

        .card {
            padding: 40px 20px 40px 40px;
            border-radius: 40px;
        }

    }



    #heading {
        font-family: $fontSecondary;
        font-size: 50px;
        line-height: 1.1;
        color: #1E1E1E;
        margin-bottom: 32px;
        font-weight: 600;
    }

    #msform {
        text-align: center;
        position: relative;
    }


    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    .retirement .fieldlabels,
    .financial-advisor .fieldlabels,
    .investments .fieldlabels,
    .last-questions .fieldlabels {
        display: flex;
        gap: 24px;
        align-items: center;

        input {
            width: 24px !important;
            height: 24px;
        }

        p {
            margin-bottom: 0;
            font-size: 16px;
            color: #1E1E1E;
            font-weight: 500;
            line-height: 1;
            font-family: $fontSecondary;
        }

        strong {
            margin-bottom: 5px;
            display: block;
        }
    }

    .last-questions textarea {
        border-radius: 40px !important;
    }

    .last-questions {
        .agree {
            border-radius: 80px;
            background: rgba(255, 255, 255, 1);
            display: flex;
            padding: 12px 26px;
            align-items: center;
            gap: 24px;
            align-self: stretch;
            border: 1px solid rgb(107 114 128 / 25%);
            color: #1E1E1E;
            text-align: center;
            font-family: $fontSecondary;
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            width: fit-content;

            input {
                width: 24px !important;
                height: 24px !important;
            }
        }
    }

    .last-questions p,
    .last-questions p small a {
        color: #1E1E1EBF;
        font-size: 17px;
        padding-left: 10px;
        margin-bottom: 20px;
        text-align: left;
    }

    .last-questions p small a {
        padding-left: 0;
        margin-bottom: 0;
        font-size: 13px;
    }

    #msform input,
    #msform textarea,
    .retirement .fieldlabels,
    .financial-advisor .fieldlabels,
    .investments .fieldlabelsm,
    .investments .fieldlabels,
    .last-questions .fieldlabels {
        font-size: 15px;
        font-family: $fontSecondary;
        line-height: 1.1;
        padding: 17.5px 26px;
        width: 100%;
        color: #0E0E0F;
        background: #F8FAFC; 
        border-radius: 60px;
        border: 1px solid rgb(107 114 128 / 25%);
    }

    .mb-20 {
        margin-bottom: 20px;
    }

    #msform input:focus,
    #msform textarea:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important; 
        border: 1px solid #047857;
        outline-width: 0
    }

    #msform .action-button {
        background: #047857;
        width: fit-content;

        font-size: 16px;
        line-height: 1;
        font-family: $fontSecondary;
        font-weight: bold;
        color: #F8FAFC;
        border: 0 none;
        border-radius: 80px;
        cursor: pointer;
        padding: 16px 26px 15px 25px;
        float: right
    }

    #msform .action-button:hover,
    #msform .action-button:focus {
        background-color: #311B92
    }

    #msform .action-button-previous {
        background: #000;
        width: fit-content;
        font-size: 16px;
        line-height: 1;
        font-family: "Nunito Sans";
        font-weight: bold;
        color: #f8fafc;
        border: 0 none;
        border-radius: 80px;
        cursor: pointer;
        padding: 16px 26px 15px 25px;
        float: left;
    }

    #msform .action-button-previous:hover,
    #msform .action-button-previous:focus {
        background-color: #000000
    }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #047857;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #047857;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

    #progressbar .active {
        color: #047857
    }

    #progressbar li {
        list-style-type: none;
        font-size: 15px;
        width: 25%;
        float: left;
        position: relative;
        font-weight: 400
    }

    #progressbar #account:before {
        font-family: FontAwesome;
        content: "\f13e"
    }

    #progressbar #personal:before {
        font-family: FontAwesome;
        content: "\f007"
    }

    #progressbar #payment:before {
        font-family: FontAwesome;
        content: "\f030"
    }

    #progressbar #confirm:before {
        font-family: FontAwesome;
        content: "\f00c"
    }

    #progressbar li:before {
        width: 50px;
        height: 50px;
        line-height: 45px;
        display: block;
        font-size: 20px;
        color: #ffffff;
        background: lightgray;
        border-radius: 50%;
        margin: 0 auto 10px auto;
        padding: 2px
    }

    #progressbar li:after {
        content: '';
        width: 100%;
        height: 2px;
        background: lightgray;
        position: absolute;
        left: 0;
        top: 25px;
        z-index: -1
    }

    #progressbar li.active:before,
    #progressbar li.active:after {
        background: #047857
    }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #F97316;
        background-image: initial;
        border-radius: 8px;
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }

    .form-item {
        display: flex;
        background: #F8F9FC;
        border-radius: 24px;
        align-items: center;
        margin-bottom: 20px;
        gap: 32px;
        padding: 20px 0px 20px 24px;

        &-number {

            color: #1E1E1E;
            width: 70px;
            height: 70px;
            min-height: 70px;
            min-width: 70px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;

            h5 {
                font-size: 32px;

                font-family: $fontSecondary;
                line-height: 1;
                font-weight: 700;
                margin-bottom: 0;

            }
        }

        p {
            color: #1e1e1ebf;
            font-size: 28px;
            font-weight: 600;
            font-family: $fontSecondary;
            line-height: 1.25;
            text-align: left;
            margin-bottom: 0;
            max-width: 715px;
        }
    }
}

small {
    font-size: 80%;
}

.why-work-list {
    padding-block: 180px;

    .wwL-lists {
        display: flex;
        justify-content: space-between;
    }

    .wwL-list {
        width: 800px;
    }

    h3 {
        font-size: 50px;
        font-family: $fontSecondary;
        font-weight: 600;
        color: #1E1E1E;
        text-align: center;
        line-height: 1.1;
        margin-bottom: 60px;
    }

    h4 {
        font-family: "Nunito Sans", Sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 32px;
        color: #1E1E1E;
        margin-bottom: 32px;
    }

    ul {
        li {
            display: flex;
            gap: 37px;
            padding: 24px 32px;
            border-radius: 12px;
            background: #F8FAFC;
            border: 1px solid #6B7280;
            margin-bottom: 12px;
            font-size: 28px;
            font-family: $fontSecondary;
            color: #1E1E1E;
            font-weight: 600;
            img{
                width: 32px;
                height: 32px;
            }
        }
    }
}

.get-a-question {
    background-color: #002928;
    padding-block: 80px;

    h1 {
        font-size: 64px;
        line-height: 1;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        font-size: 20px;
        line-height: 1.4;
        color: #fff;
        font-weight: 400;
        text-align: center;
        margin-bottom: 46px;
        max-width: 653px;
        margin-inline: auto;
    }

    .form-card {
    padding: 60px 30px;
    background: #fff;
    border: 1px solid #6b7280;
    border-radius: 40px;
    max-width: 850px;
    margin: auto;

        button {
            background: #047857;
            font-size: 16px;
            line-height: 1;
            font-family: "Nunito Sans";
            font-weight: bold;
            color: #f8fafc;
            border: 0 none;
            border-radius: 80px;
            cursor: pointer;
            padding: 16px 26px 15px 25px;
            display: block;
        }


        input,
        textarea {
            font-size: 15px;
            font-family: "Nunito Sans";
            line-height: 1.1;
            padding: 17.5px 26px;
            width: 100%;
            color: #0e0e0f;
            background: #f8fafc;
            border-radius: 60px;
            MARGIN-BOTTOM: 20PX;
            border: 1px solid rgba(107, 114, 128, .25);
        }

        textarea {
            border-radius: 35px;
        }
    }
}
.toolkit-form{
    padding-block: 80px;
    h2{
        font-size: 41px;
    font-weight: 500;
    color: #000;
    line-height: 1.2;
    margin-bottom: 13px;
    }
    li{
            color: #6b7280;
    display: flex
;
    align-items: center;
    gap: 20px;
    font-size: 20px;
        margin-bottom: 14px;

    }
    ul{
            margin-block: 30px;
    margin-left: 20px;
    }
    .form-card {
    padding: 30px 15px;
    background: #fff;
    border: 1px solid #6b7280;
    border-radius: 20px;
    max-width: 850px;
    margin: auto;

        button {
            background: #047857;
            font-size: 16px;
            line-height: 1;
            font-family: "Nunito Sans";
            font-weight: bold;
            color: #f8fafc;
            border: 0 none;
            border-radius: 80px;
            cursor: pointer;
            padding: 16px 26px 15px 25px;
            display: block;
        }


        input,
        textarea {
            font-size: 15px;
            font-family: "Nunito Sans";
            line-height: 1.1;
            padding: 17.5px 26px;
            width: 100%;
            color: #0e0e0f;
            background: #f8fafc;
            border-radius: 60px;
            MARGIN-BOTTOM: 20PX;
            border: 1px solid rgba(107, 114, 128, .25);
        }

        textarea {
            border-radius: 20px;
        }
    }
}
.resources{
    padding-block: 100px;
    .modal-dialog {
        max-width: 900px;
        .modal-title{
                font-size: 40px;
    color: #000;
    font-weight: 500;
    line-height: 1.2;
        }
        label{
                display: block;
    font-size: 18px;
    color: #000;
    line-height: 1.2;
    margin-bottom: 10px;    padding-left: 10px;


        }
        input{
                   font-size: 15px;
    font-family: "Nunito Sans";
    line-height: 1.1;
    padding: 17.5px 26px;
    width: 100%;
    color: #0e0e0f;
    background: #f8fafc;
    border-radius: 60px;
    MARGIN-BOTTOM: 20PX;
    border: 1px solid rgba(107, 114, 128, .25);
        }
        p{
                font-size: 16px;
    line-height: 1.5;
    a{
    font-size: 16px;
    line-height: 1.5;    color: #000;
    font-weight: 400;
    }

        }
        button[type="submit"]{
                background: #047857;
    font-size: 16px;
    line-height: 1;
    font-family: $fontSecondary;
    font-weight: bold;
    color: #f8fafc;
    border: 0 none;
    border-radius: 80px;
    cursor: pointer;
    padding: 16px 26px 15px 25px;
    display: block;
    width: 100%;
        }

        .modal-content{
            padding: 28px;
        }
        .modal-header{
                padding-inline: 0;
    padding-top: 0;

        }
.modal-body{
    padding-inline: 0;
}
    }
    h1{
            font-size: 24px;
    color: #000;
    font-weight: 600;
    margin-bottom: 30px;

    }
p{
        font-size: 20px;
    color: #000;
    font-weight: 400;
    margin-bottom: 40px;
}
&-card{
    text-align: center;
        margin-bottom: 50px;

    h4{
            font-size: 40px;
    color: #000;
    max-width: 456px;
    margin: auto;
    margin-block: 20px;
    line-height: 1.2;

    }
    a{
            padding: 15px 30px;
    border: 1px solid #000;
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 3px;
    }
}
}